@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.landingpage {
    background-image: url('akira.gif');
    background-size: cover;
}

#menu-bar {
    margin: 0;
    padding: 0px;
    overflow: hidden;
    position: top;
    margin-right: 150px;
    margin-left: 150px;
  }

  #menu-bar {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    list-style-type: none;
  }
  
  li a {
    display: block;
    font-family: 'Titillium', sans-serif;
    font-size: 20px;
    color:lightcoral;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    text-align: center;
  }

.container {
    text-align: center
}

#welcome {
    font-family: 'Notable', sans-serif;
    color:white;
    font-size: 80px
}

.container {
    font-family: 'Notable', sans-serif;
    color:white;
    font-size: 40px
}

.button {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
img, figure {
    max-width: 100%;
}

 #aboutme {
    background-image: url('playstation.gif');
    background-size: cover;
    font-family: 'Notable', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

 .hello {
    color: lightsalmon;
    background-color: rgba(0,0,0,0.8);
    margin: 30px;
    padding: 10px;
 }


#page2 {
    background-image: url(spaceman.jpeg);
    background-repeat: no-repeat;
    background-color: #f4f409;
}

.unit1 {
    text-align: center;
    font-display: center;
    flex-direction: column;
    flex-flow: wrap;
    margin-top: 100px;
    margin-left: 150x;
    margin-right: 500px;
}

.unit1 {
    color: black;
}

.trello {
    color: black;
}

 .playcontainer {
    color: white;
  font-family: 'Titillium', sans-serif;
  text-align: center;
  background-image: url('packman.gif');
    background-position: contain;
  }

  .ucontainer {
      position: center;
      background: black;
      margin-top: 80px;
      margin-left: 150px;
      margin-right: 150px;
      border-style: double;
      border-color: red;
  }


  #u1outcome3 {
      background-image: url(charizard.gif);
      background-position: right; 
      background-repeat: no-repeat;
  }

  .outcome3text {
      font-family: 'Titillium', sans-serif;
      color: lightcoral;
      text-align: left;
      margin-top: 100px;
      margin-left: 150px;
      margin-right: 150px;
  }

  .outcome3titles {
      border-style: solid;
      border-color: lightblue;
  }

  .unit2 {
      background-image: url(computer.gif);
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .unit2 {
      font-family: 'Titillium', sans-serif;
      text-align: center;
      color: white;
      margin-top: 100px;
      background-color: rgba(0,0,0,0.6);
   margin: 30px;
   padding: 10px;
  }

  .unit2text {
    background-color: rgba(0,0,0,0.7);
    margin: 30px;
    padding: 10px;
  }

 